@import 'variables.scss';
body {
  margin:0px;
  font-family: sans-serif;
	overflow: hidden;
	height:100%;
}
.left {
  float:left;
}

.right {
  float:right;
}

.title {
  padding: 15px;
  display: inline-block;
  height:$menu-height;
  vertical-align: middle;
}
.marker {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: green;
    left: 0px;
    top: 0px;
    transform-origin: left top 0px;
    box-shadow: 0 0 5px 5px crimson;
}