@model MapR.Features.PlayGame.Models.GameAdmin
@{
    Layout = "_Layout";
    ViewData["Title"] = "Game Admin";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="btn navbar-brand">Home</a>
    <div class="btn-group">
        <button class="btn btn-secondary">Add Map</button>
        <div class="btn-group" role="group">
            <button id="mapGroupDropdown" type="button" class="btn btn-secondary dropdown-toggle" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Change Map
            </button>
            <div class="dropdown-menu" aria-labelledby="mapGroupDropdown">
                <a class="dropdown-item" href="#">Dropdown link</a>
                <a class="dropdown-item" href="#">Dropdown link</a>
            </div>
        </div>
    </div>
    <form asp-controller="Account" asp-action="Logout"
          asp-route-returnurl="/" method="POST"
          class="form-horizontal ml-auto">
        <button type="submit" title="Logout" class="btn btn-default btn-outline-dark">Logout</button>
    </form>
</nav>