@page
@model IndexModel
@{
}

<form asp-action="ExternalLogin" asp-route-returnurl="" method="post" class="form-horizontal">
	@foreach (var provider in Model.AuthenticationSchemes)
	{
		<button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
	}
</form>
